// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar {
    background-color: #3498db;
}


.nav a {
    color: #fff;
}


.navbar-brand {
    color: #fff;
}

body {
    background-color: #f4f4f4;
}